@font-face {
	font-family: "Link Font";
	src: url(Gamefly-Regular.ttf) format("truetype");
}

.def_style{
	font-family: "Arial",serif;
}

* {
	box-sizing: border-box;
	font-family: "Link Font", sans-serif;
	font-size: 100%;
	color: #7f8f9a;
	outline: none;  
	text-decoration: none; /*clear href decoration*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);

}

body {
	margin: 10px auto;
	width: 100%;
	height: 100vh;
	overflow:hidden;
	background: black; 
	background: -webkit-linear-gradient(#3a4146 0%,#000000 15%); /*Safari*/
	background: -o-linear-gradient(#3a4146 0%,#000000 15%); /*Opera*/
	background: -moz-linear-gradient(#3a4146 0%,#000000 15%); /*Mozila*/
	background: linear-gradient(#3a4146 0%,#000000 15%);
	background-repeat: no-repeat;
}


@media only screen and (min-width:600px) {
	body {
		margin: 0px auto;
		max-width: 1000px;
		min-height: 100vh;
		background: black; 
		background: -webkit-linear-gradient(#3a4146 0%,#000000 15%); /*Safari*/
		background: -o-linear-gradient(#3a4146 0%,#000000 15%); /*Opera*/
		background: -moz-linear-gradient(#3a4146 0%,#000000 15%); /*Mozila*/
		background: linear-gradient(#3a4146 0%,#000000 15%);
	}
}

a {
	text-decoration: none;
	display: block;
	font-family: "Link Font";
}
ul {
	list-style: none;
	margin: 0 0 1.5rem 0;
	padding: 0;
}
li {
	background-size: 100% 200%;
	background-position: top center;
	display: block;
	text-align: center;
	text-decoration: none;

}

li:hover {
	background-position: bottom center;
	color: rgba(0,0,0,.75);
}

li a {
	color: #c1c1c1;
	display: block;
	padding: 1rem 0;
	
}


.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


[class*="col-"] {
	float:left;
	padding: 1px;
	width: 100%;
}

@media only screen and (min-width:600px) {
	.col-1 {width: 8.33% ;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	[class*="col-"] {
		float:left;
		padding: 1px;
	}
}

[class*="row_"]::after {
	content: "";
	clear:both;
	display: block;
}

.row_middle {
	font-size: 18px;
}


.logo {
	width: 100%;
}

.row_links {
	flex:1;
	display: flex;
 	flex-direction: column;
  	justify-content: center;
	
}

.navig {
	width: 100%;

}

.navig ul {
	border: 0;
	padding: 0 2rem;
	position: relative;

}
 
.navig ul li a {
	transform: skew(15deg);
	transition: all .25s ease-in-out;
	font-size:1.2rem;

}

.navig ul li {
	background-image: linear-gradient( to bottom, transparent 50%, rgb(0, 0, 0) 50%, rgb(102, 102, 102) 95%, rgb(197, 197, 197) 95% );
	transform: skew(-15deg);
	flex: 1 1 auto;
	transition: all .25s ease-in-out;
}
	
.navig ul a:hover {
	color: #FFFFFF;
}

@media only screen and (min-width:600px) {
	.navig ul {
		display: flex;
	}
	
	.navig ul li a {
		font-size: 1.4rem;
	}
}

/*---------projects---------*/
[class*="row_material_"] {
	margin-bottom:30px;
}

.row_middle {
	margin-bottom: 20px;
}

.row_middle div {
	margin-left:5%;
}

.row_middle div p {
	display:inline;
}

.row_middle div p a {
	display:unset;
}

.project_logo a{
	margin: auto 0;
}

.project_logo a img {
	max-width: 100%;
}
	
.project_content{
	flex:1;
	margin: 0 15px;
}
@media only screen and (min-width:600px) {
	margin: 0 0;
}

.name_type{
	display: inline;
}

.name_project {
	display: inline;
	color:#FFFFFF;
}

.project_about {
	margin-left: 15px;
}

.project_description{
	font-size: 14px;
	font-family: serif;
	margin-bottom: 0px;
}

.project_desc_continue{
	margin-top:0;
}


.project_status p{
	margin: 0 0;
	display:inline;
}

.info {
	float: right;
}

.status {
	width: 15px;
	height:15px;
	border-radius: 25%;
	background-color:#ab1f01;
}
/*-colors for status box-*/
/*-development-gray-*/
.dev {
	background-color:#939596;
}
/*-ongoing-green-*/
.ongo {
	background-color:#2b8a07;
}
/*-complete-gold-*/
.comp {
	background-color:#d6ca83;
}
/*-frozen-red-*/
.froz{
	background-color:#ab1f01;
}

/*------------footer-------------*/
.row_footer {
	margin: 25px 0px;
	margin-bottom: 10px;
	border-top: 1px solid #3a4146;	
	padding: 5px 0px;
	
}

.footer_social ul {
	list-style:none;
	display: flex;
	margin: 0 0;
	padding: 0px;
}

.footer_social ul li {
	flex: 1 1 auto;
}

.footer_social ul li a {
	padding: 0.5rem 0;
}

.footer_social ul li a img{
	width: 65%;
}



@media only screen and (min-width:600px) {
	.footer_menu{
		float: right;
	}

	.footer_social ul li {
		flex:  none;
	}

	.footer_social ul li a img {
		width: 75%;
	}

	.footer_auth {
		float: right;
	}

	.footer_rights {
		float: right;
		font-size: 12px;
	}
}

.footer_menu {
	margin-bottom: 5px;
}

.footer_menu ul {
	display: flex;
	margin: 0 0 ;
	padding: 0px;
}

.footer_menu ul li{
	flex: 1 1 auto;
}

.footer_menu ul li a {
	padding: 0.1rem 0;

}

.footer_rights, .footer_auth {
	font-size: 12px;
}

.footer_rights p , .footer_auth p {
	margin: 0 0;
}

.footer_auth p a {
	display: inline-block;
	color: #c1c1c1;
}



/*--------------------*/
.cleaner {
	clear: both;
}



